footer
  .container.text-center
    p(align='center') © 2017 PlanetPay. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://www.PlanetPay.es', target='_blank') PlanetPay.es
