extends layout

block content
  .page-header
    h1 PlanetPay Wallet
  p.lead A NodeJS/MongoDB powered PlanetPay Web Wallet. Send and Receive PLT from anywhere!
  hr
  .row
    .col-sm-6
      h2 Fast & Secure
      p This online wallet is powered upon NodeJS/MongoDB running in conjunction with a PlanetPay Full Node, allowing access to the speeds and power of the Denarius blockchain.
      p
        if user
        else
          a.btn.btn-default(href='/signup', role='button') Sign Up! »
    .col-sm-6
      h2 What is PlanetPay?
      p PlanetPay es una criptomoneda ESPAÑOLA
      p
        a.btn.btn-default(href='https://www.planetpay.es', target='_blank', role='button')  Visit Website »
